*{
    margin: 0;
    padding: 0;

}
body{
    
    background: url('background.jpg') no-repeat center center fixed ;
    background-size: cover;
}
#ClockContainer
{
    position: relative;
    
     height: 40vw;
     width: 40vw;
     height: 500px;
     width: 500px;
     background: url('clock.png') no-repeat ;
     background-size: 100%;
     margin: auto;

}

#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 11px;
    transform-origin: bottom;
}



#hour {
    height: 32%;
    width: 2.0%;
    top: 18%;
    left: 48.9%;
    opacity: 0.9;
    /* display: none; */
}

#minute {
    height: 36.2%;
    width: 1.4%;
    top: 14%;
    left: 49.1%;
    opacity: 0.7;
   /* display: none;   */
}

#second {
    height: 38%;
    width: 1%;
    top: 13%;
    left: 49.3%;
    opacity: 0.5;
    /* display: none; */
}